<div class="page-header">
  <h3>Playlist #<%= @playlist.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Name</dt>
      <dd><%= @playlist.name %></dd>

      <dt>User</dt>
      <dd><%= @playlist.user_id %></dd>

      <dt>Description</dt>
      <dd><%= @playlist.description %></dd>

      <dt>Share</dt>
      <dd><%= @playlist.share %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/playlists" class="btn btn-primary">
        Back
      </a>
      <% if current_user == @playlist.user %>
        <a href="/playlists/<%= @playlist.id %>/edit" class="btn btn-warning">
          Edit
        </a>
        <a href="/delete_playlist/<%= @playlist.id %>" class="btn btn-danger" rel="nofollow">
          Delete
        </a>
      <% end %>
    </div>
  </div>
</div>

<!-- A Playlist has many song_instances -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Song Instances
      </li>

      <% @playlist.song_instances.each do |song_instance| %>
        <li class="list-group-item">
          <a href="/song_instances/<%= song_instance.id %>">
            <%= song_instance.song_id %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/song_instances/<%= song_instance.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/song_instances/<%= song_instance.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_song_instance/<%= song_instance.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>
